body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: o;
    padding: 0;
}
h1{
    color: #3a241d;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1 rem;
}
#esquerda{
    left: 0;
}
#direita{
    right: 0;
}
.container{
 background-color: #f5f5f5;
    width: 15%;
    top: 0;
    position: absolute;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
}

